#jumbo{
    background-color: rgb(248, 244, 238);
    font-family: 'Times New Roman', Times, serif;
}

#center-text{
    text-align: center;
    font-size: 20px;
}

#stat-text{

}

#changling-text{
    text-align: center;
    font-size: 20px;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > *{
    padding: 10px;
    flex: 1 100%;
}

.aside-1{
    background: gold;
}

.aside-2{
    background: hotpink;
}

.aside-3{
    background: rgb(216, 118, 118);
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.label{
    margin: 100px;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

body{
    background-color: rgb(248, 244, 238);
    font-family: 'Times New Roman', Times, serif;
}

button{
    width: auto;
}
