#jumbo{
    background-color: rgb(248, 244, 238);
    font-family: 'Times New Roman', Times, serif;
}

#center-text{
    text-align: center;
    font-size: 20px;
}

#changling-text{
    text-align: center;
    font-size: 20px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

body{
    background-color: rgb(248, 244, 238);
    font-family: 'Times New Roman', Times, serif;
}

button{
    width: auto;
}